* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #313531;
    background-image: url(./joaopessoa.jpg);
    background-size: cover;  
    background-position: center;
    color: rgb(238, 243, 237);
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
}

#news-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#news-container h2 {
    margin-bottom: 20px;
}

.news-item {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.news-item h3 {
    margin-bottom: 10px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
